## Cleaning and Seperating the Data

In [11]:
#first we will import the needed libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
#second we load and examine all our datasets

movies = pd.read_csv('movies.csv')
directors = pd.read_csv('directors.csv')
best = pd.read_csv('best.csv')
worst = pd.read_csv('worst.csv')

In [13]:
movies.drop('Unnamed: 0', axis=1,inplace=True)
directors.drop('Unnamed: 0', axis=1,inplace=True)

In [14]:
directors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   director_name  2349 non-null   object
 1   id             2349 non-null   int64
 2   gender         1724 non-null   object
dtypes: int64(1), object(2)
memory usage: 55.2+ KB

In [15]:
worst_movies = movies.merge(worst, on='title', how='inner')
best_movies = movies.merge(best, on ='title', how='inner')

In [16]:
#We will be using these dataframes to do our analysis so let's get them cleaned up
worst_movies.info()
best_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_x           101 non-null    int64
 1   budget         101 non-null    int64
 2   popularity     101 non-null    int64
 3   revenue        101 non-null    int64
 4   title          101 non-null    object
 5   vote_average   101 non-null    float64
 6   vote_count     101 non-null    int64
 7   director_id    101 non-null    int64
 8   year           101 non-null    int64
 9   month          101 non-null    object
 10  day            101 non-null    object
 11  id_y           101 non-null    object
 12  genres         101 non-null    object
 13  averageRating  101 non-null    float64
 14  numVotes       101 non-null    int64
 15  releaseYear    101 non-null    int64
dtypes: float64(2), int64(9), object(5)
memory usage: 12.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_x           553 non-null    int64
 1   budget         553 non-null    int64
 2   popularity     553 non-null    int64
 3   revenue        553 non-null    int64
 4   title          553 non-null    object
 5   vote_average   553 non-null    float64
 6   vote_count     553 non-null    int64
 7   director_id    553 non-null    int64
 8   year           553 non-null    int64
 9   month          553 non-null    object
 10  day            553 non-null    object
 11  id_y           553 non-null    object
 12  type           553 non-null    object
 13  genres         553 non-null    object
 14  averageRating  553 non-null    float64
 15  numVotes       553 non-null    int64
 16  releaseYear    553 non-null    int64
dtypes: float64(2), int64(9), object(6)
memory usage: 73.6+ KB

In [17]:
worst_movies= worst_movies.sort_values('averageRating').reset_index(drop=True)
best_movies= best_movies.sort_values('averageRating', ascending=False).reset_index(drop=True)

In [18]:
#Now lets get the directors in here
worst_movies = worst_movies.merge(directors, left_on='director_id', right_on='id', how='inner')
best_movies = best_movies.merge(directors, left_on='director_id', right_on='id', how='inner')

In [19]:
worst_movies.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,director_id,year,month,day,id_y,genres,averageRating,numVotes,releaseYear,director_name,id,gender
0,46326,13000000,6,98441954,Justin Bieber: Never Say Never,4.8,154,4868,2011,Feb,Friday,tt1702443,"Documentary, Music",1.7,76483,2011,Jon M. Chu,4868,Male
1,45791,25000000,16,14109284,Disaster Movie,3.0,240,5465,2008,Aug,Friday,tt1213644,"Comedy, Sci-Fi",1.9,95400,2008,Jason Friedberg,5465,Male
2,45834,20000000,9,10442808,Alone in the Dark,3.1,173,5148,2005,Jan,Friday,tt0369226,"Action, Horror, Sci-Fi",2.4,47436,2005,Uwe Boll,5148,Male
3,45719,20000000,6,86865564,Epic Movie,3.2,326,5465,2007,Jan,Thursday,tt0799949,"Adventure, Comedy, Fantasy",2.4,110415,2007,Jason Friedberg,5465,Male
4,45710,20000000,10,48548426,Date Movie,3.6,222,5465,2006,Feb,Friday,tt0466342,"Comedy, Romance",2.8,62696,2006,Jason Friedberg,5465,Male

In [20]:
#now let's get rid of all these extra columns?
best_movies = best_movies.drop(['popularity','vote_average', 'vote_count', 'director_id', 'type', 'year', 'month', 'day', 'id_y','id','gender'], axis = 1)
best_movies = best_movies.rename(columns= {'id_x':'id'})
worst_movies = worst_movies.drop(['popularity','vote_average', 'vote_count', 'director_id', 'year', 'month', 'day', 'id_y','id','gender'], axis = 1)
worst_movies = worst_movies.rename(columns= {'id_x':'id'})

In [21]:
#Now lets get the best of the best and the worst of the worst
best_movies = best_movies.head(100)
worst_movies = worst_movies.head(100)

In [22]:
#And finally export our newly cleaned datasets to CSVs for the final analysis
best_movies.to_csv('best_movies.csv',index=False)
worst_movies.to_csv('worst_movies.csv',index=False)